<html lang="uk">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Підтвердження реєстрації</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; margin:
      0; padding: 0; } .container { max-width: 600px; margin: 50px auto;
      padding: 20px; background-color: #ffffff; border-radius: 10px; box-shadow:
      0 0 10px rgba(0, 0, 0, 0.1); } h1 { color: #333333; text-align: center;
      margin-bottom: 30px; } p { color: #666666; font-size: 16px; line-height:
      1.5; margin-bottom: 20px; } .btn { display: inline-block;
      background-color: #007bff; color: #ffffff; text-decoration: none; padding:
      10px 20px; border-radius: 5px; } .btn:hover { background-color: #0056b3; }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Підтвердження реєстрації</h1>
      <p>Дякуємо за реєстрацію на нашому сайті. Будь ласка, натисніть на кнопку
        нижче, щоб підтвердити свою адресу електронної пошти:</p>
      <p><a href="{{verificationLink}}" class="btn">Підтвердити реєстрацію</a></p>
      <p>Якщо ви не реєструвалися на нашому сайті, проігноруйте цей лист.</p>
    </div>
  </body>

</html>